# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db

# Django
*.sqlite3
media/
staticfiles/
.env
.env.*

# Venv
.venv/
venv/

# VS Code / PyCharm
.vscode/
.idea/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.log

# Coverage and test output
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.cache
junit.xml

# Swagger schema cache
*.swagger.json
*.swagger.yaml
